
body {
/*  background: #04B4AE; */
  background: -webkit-linear-gradient(right, #E0FFFF, #04B4AE);
  background: -moz-linear-gradient(right, #33B4FF, #04B4AE);
  background: -o-linear-gradient(right, #33B4FF, #04B4AE);
  background: linear-gradient(to left, #33B4FF, #04B4AE);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


#welcome{
  position:absolute;
  top:200px;
  left:150px;
  font-size:45px;
  color: white;
  font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#m1{
  position:absolute;
  top:260px;
  left:110px;
  font-size:20px;
  color: white;
  font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}
#m2{
  position:absolute;
  top:290px;
  left:110px;
  font-size:20px;
  color: white;
  font-family:"Adobe Garamond Pro Bold", Georgia, "Times New Roman", Times, serif;
}

#iphone1{
  position:absolute;
  top:150px;
  left:610px;
}
#iphone2{
  position:absolute;
  top:180px;
  left:780px;
}

.login_button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #58ACFA;
  width: 200px;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login_button:hover,
.login_button:active,
.login_button:focus {
  background: #0080FF;
}

#student_login{
  position:absolute;
  top:330px;
  left:110px;
}
#prof_login{
  position:absolute;
  top:360px;
  left:110px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}



.close {
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #58ACFA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0080FF;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #0080FF;
  text-decoration: none;
}

.form .register-form {
  display: none;
}