::-webkit-scrollbar {
    display: none;
}
#searchbar{
    position: absolute;
    width: 130px;
    left: 140px;
    top:20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 15px;
    color:black;
    background-color: transparent;
    padding: 5px 10px 5px 30px;
}
#searchbar:focus{
  width:280px;
  background-color: white;
  z-index: 1;
}
#new_post{
    position: absolute;
    left: 290px;
    top:20px;
    width: 105px;
    font-size:14px;
    padding: 5px 10px 5px 30px;

}

#course_list{
    position: relative;
    left: 20px;
    top: 280px;
    height: 423px;
    width:200px;
    overflow-y: scroll;
    overflow-x: hidden;

}
#course {
    display: absolute;
    color: white;
    position:relative;
    background:none;
    top:0px;
    margin-top: 0px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}
#course:hover {
    font-weight: bold;
}

#addCourse{
  position: absolute;
  top:240px;
  z-index: 1;
  left:0px;
  color:white;
  width:212px;
  font-size: 15px;
  border-bottom: 2px inset #ccc;
}
#addCourse:hover{
    font-weight: bold;
}

#menu_bar{
    background-color:#60848C;
    position: absolute;
    z-index: 1;
    left: 250px;
    top: 90;
    width: 400px;
    height: 100%;
}

#portfolio_bar{
    background-color:#57BCFZ;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 90;
    width: 210px;
    height: 220px;
    box-shadow: 0px 10px 20px 0px #60848C;
}

#signout{
  font-size: 20px;
  position: absolute;
  top:180px;
  left:140px;
  color: white;
}
#signout:hover{
  color:#002859;
}
#setting{
  font-size: 20px;
  position: absolute;
  top:180px;
  left:90px;
  color: white;
}
#setting:hover{
  color:#002859;
}
#user{
  position: absolute;
  padding: 0px;
  font-size: 20px;
  position: absolute;
  top:175px;
  background: none;
  border: none;
  left:40px;
  color: white;
}
#user:hover{
  color:#002859;
}

#name{
  color:white;
  position: absolute;
  top:145px;
  left:50px;
  font-size: 15px;
}

.post {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 15px;
  padding: 5px;
  width: 170px;
  position:relative;
  top:0px;
  left:20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.post span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.post span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.post:hover span {
  padding-right: 25px;
  font-weight: bold;
}

.post:hover span:after{
  opacity: 1;
  right: 0;
}



#student_post_list{
    position:absolute;
    color:white;
}

#prof_post_list{
    position:absolute;
    color:white;
}

#new_post:hover{
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px white;
}


#post_h2 {
    position: absolute;
    width:100px;
    top:20px;
    font-size: 20px;
    left:10px;

}

#aaa {
    position: absolute;
    top:100px;
    left:7px;
    width:420px;
    list-style-type: none;
    height:580px;
    overflow: auto;
}

#b {
  left:5px;
  width:420px;

  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-align: left;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:55px;
  margin-bottom: 5px;
}

#b:last-child {
  border: none;
}

#b a {
  text-decoration: none;
  color: white;
  width:420px;
  padding-top: 10px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

#b a:hover {
  font-size: 18px;
  color:#f6f6f6;
  box-shadow: 5px 5px 5px grey;

  width:410px;
  height:50px;
  background: #56767E;
}
#b a:focus {
color:#f6f6f6;
  font-size: 18px;
  box-shadow: 5px 5px 5px grey;
  height:50px;
  width:410px;
  background: #56767E;
}
#post_body{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  position: relative;
  top:-8px;
  left:0px;
  width:400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#post_title{
  position: relative;
  top:-8px;
  padding-left: 10px;
  padding-right: 10px;
  width:400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#homework_list{
    position: absolute;
    left:250px;
    top:100px;
    border: 1px solid #ccc;
}
#homework{
    font-size:15px;
}

table, th {

    color:blue;
    border: 1px solid grey;
    background: white;
    border-collapse: collapse;
    width:350px;
    text-align:center;
}
td {
    border: 1px solid grey;
    padding:10px;
    text-align:left;
    font-Weight:bold;
    font-size:17px;

}

#newPost_title{
    position:absolute;
    top:50px;
    width:510px;
    left:700px;
}
#newPost_content{
    position:absolute;
    top:100px;
    left:700px;
}
#newPost_submit{
    position:absolute;
    top:530px;
    left:750px;
}
#newPost_submit:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#newPost_cancel{
    position:absolute;
    top:530px;
    left:850px;
}
#newPost_cancel:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#postPage{
    position: absolute;
    top:10px;
    left:670px;
    overflow-y: scroll;
    overflow-x: hidden;
    height:680px;
    width: 600px;
}
#postTop{
  width:560px;
  height: auto;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #60848C;
}

#contentTitle{
    //position: absolute;
    top:20px;
    left:670px;
    font-size: 20px;
    color:black;
    width:560px;
    border-bottom-style: inset;;

}
#contentContent{
  white-space: pre-wrap;
    //position: absolute;
    top:70px;
    left:670px;
    //font-size: 15px;
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    color:black;
    width:560px;
    text-align: left;
    //height:250px;
    //overflow: scroll;
    border-bottom-style: double;
    //margin-bottom: 30px;
    min-height: 100px;
    //max-height: 250px;
    padding-bottom: 20px;
    padding: 10px;
    word-wrap: break-word;
}

#commentList{
    position: relative;
    margin-top:30px;
    //left:670px;
    width:570px;
    list-style-type: none;
    height:320px;
    //overflow: scroll;
}
#commentContent{
  white-space: pre-wrap;
  width:560px;
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #60848C;
  margin-bottom: 30px;
  margin-left: 5px;
  text-align: left;
  min-height: 30px;
  word-wrap: normal;
  padding: 10px;
}
#newComment{
    position: relative;
    top:10px;
    height:30px;
    width:540px;
}

.fileInput{
    position: relative;
    top:10px;
    left:200px;
}

#upload{
    position: relative;
    top:35px;
    left:0px;
}
#newComment:focus{
height:150px;

}
#newComment_submit{
    position: relative;
    top:20px;
    left:0px;
    margin-bottom: 20px;
}
#newComment_submit:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#newComment_cancel{
    position: relative;
    top:20px;
    left:50px;
}
#newComment_cancel:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;
}

h2 { width:100%; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 5px; }

#thumb{
  position: relative;
  left:85px;
  top:-33px;
  font-size: 20px;
  color:#002859;
  padding:0px;
  border: none;
  background-color: transparent;
  z-index: 1;
}
#thumb:hover{
  color:red;
}
#thumb:focus{
  color:red;
}
#commentUser{
  text-align: right;
  position: relative;
  top:-55px;
  font-size: 10px;
  margin-bottom: -50px;
}
#delete_post{
  position: relative;
  top:-15px;
  left:390px;
  z-index: 1;
  color:white;
  background-color: transparent;
}
#delete_post:hover{
  color:#002859;
}
#delete_post:focus{
  color:#002859;
}

#bu:hover{
    font-weight: bold;
    box-shadow:  0px 2px 2px 0px white;
}

#updatePostTitle{
  position: relative;
  top:5px;
  width:550px;
  height:30px;
}

#updatePostContent{
  position: relative;
  width:540px;
  height:300px;
}
#updateCom{
  position: relative;
  width:540px;
  min-height: 100px;
}

#allCourses{
  position: relative;
  top:80px;
  left:5px;
  text-align: left;
  color:white;
  font-size: 15px;
}

#c {
  left:5px;
  width:420px;
  margin-bottom: 5px;
  //font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-align: left;
  height:75px;
  padding: 20px;
}

#c:last-child {
  border: none;
}

#joinButton{
  position: relative;
  top:-50px;
  left:300px;
}

#joinButton:hover{
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px white;

}

#studentList{
  position: relative;
  top:80px;
  left:5px;
  text-align: left;
  color:white;
  font-size: 15px;
}

#d{
  left:35px;
  width:420px;
  margin-bottom: 5px;
  //font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-align: left;
  height:75px;
  padding: 20px;
}
#c:last-child {
  border: none;
}

#email{
  position: relative;
  font-size: 35px;
  top:-40px;
  left:350px;
}
#email:hover{
  color:#002859;
}

#studentPic{
  position: relative;
  width:50px;
  height:50px;
  top:-45px;
  left:-40px;
}
