#searchbar{
    position: absolute;
    width: 130px;
    left: 140px;
    top:20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 15px;
    background-color: transparent;
    padding: 5px 10px 5px 30px;
}
#new_post{
    position: absolute;
    left: 290px;
    top:20px;
    width: 105px;
    font-size:14px;
    padding: 5px 10px 5px 30px;

}

#course_list{
    position: relative;
    left: 20px;
    top: 200px;
    color:white;
    height: 470px;
    overflow: scroll;
}
#course {
    display: absolute;
    color: white;
    position:relative;
    background:none;
    top:50px;
    padding: 10px;
    text-align: left;
    text-decoration: none;
}
#course:hover {
    font-weight: bold;
}



#menu_bar{
    background-color:#60848C;
    position: absolute;
    z-index: 1;
    left: 250px;
    top: 90;
    width: 400px;
    height: 100%;
}

#portfolio_bar{
    background-color:#57BCFZ;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 90;
    width: 200px;
    height: 220px;
    box-shadow: 0px 10px 20px 0px #60848C;
}

#Nav{
    position: absolute;
    top: 0;
    left:320;
}
#searchicon{
    position: absolute;
    top: 10;
    left:355;
}

#name{
  color:white;
  position: absolute;
  top:170px;
  left:40px;
  font-size: 15px;

}
#picture{
  z-index: 1;
  position:absolute;
}

.post {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: left;
  font-size: 15px;
  padding: 5px;
  width: 150px;
  position:relative;
  top:40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.post span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.post span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.post:hover span {
  padding-right: 25px;
  font-weight: bold;
}

.post:hover span:after {
  opacity: 1;
  right: 0;
}



#student_post_list{
    position:absolute;
    color:white;
}

#prof_post_list{
    position:absolute;
    color:white;
}

#new_post:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px white;

}


#post_h2 {
    position: absolute;
    width:100px;
    top:20px;
    font-size: 20px;
    left:10px;

}

#aaa {
    position: absolute;
    top:100px;
    left:10px;
    width:400px;
    list-style-type: none;
    margin: 0;

    height:550px;
    overflow: auto;
}

#b {
  left:10px;
  width:400px;

  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height:60px;
}

#b:last-child {
  border: none;
}

#b a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: #000;
  //box-shadow:0px 1px 1px 0px grey;
  width:400px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

#b a:hover {
  font-size: 22px;

  width:400px;
  background: #f6f6f6;
}
#b a:focus {
  font-size: 22px;

  width:400px;
  background: #f6f6f6;
}
#post_body{
  font-size: 20px;
  position: relative;
  left:0px;
  width:400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#post_title{
  width:400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#homework_list{
    position: absolute;
    left:250px;
    top:100px;
    border: 1px solid #ccc;
}
#homework{
    font-size:15px;
}

table, th {

    color:blue;
    border: 1px solid grey;
    background: white;
    border-collapse: collapse;
    width:350px;
    text-align:center;
}
td {
    border: 1px solid grey;
    padding:10px;
    text-align:left;
    font-Weight:bold;
    font-size:17px;

}


#PostWithDisplay{
    position:relative;
    left:30px;
    top:40px;
    text-align: left;
    padding:10px;
    font-family: 'Arial Serif';
}
#PostWithDisplay_title{
    text-align: left;
    font-size: 20px;
}

#PostWithDisplay_content{
    text-align: left;
    font-size: 15px;
    margin:20px;
    width: 500px;
}
#form-control{
   width:300px;
}

#newPost_title{
    position:absolute;
    top:50px;
    width:510px;
    left:700px;
}
#newPost_content{
    position:absolute;
    top:100px;
    left:700px;
}
#newPost_submit{
    position:absolute;
    top:530px;
    left:750px;
}
#newPost_submit:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#newPost_cancel{
    position:absolute;
    top:530px;
    left:850px;
}
#newPost_cancel:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}

#contentTitle{
    position: absolute;
    top:20px;
    left:670px;
    font-size: 20px;
    color:black;
    width:570px;
    border-bottom-style: inset;;

}
#contentContent{
    position: absolute;
    top:70px;
    left:670px;
    font-size: 15px;
    color:black;
    width:570px;
    text-align: left;
    //height:250px;
    overflow: scroll;
    border-bottom-style: double;
    margin-bottom: 30px;
    min-height: 100px;
    max-height: 250px;
    padding-bottom: 20px;
}
#newComment{
    position: relative;
    top:20px;

}
#newComment_submit{
    position: relative;
    top:20px;
    left:0px;
}
#newComment_submit:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#newComment_cancel{
    position: relative;
    top:20px;
    left:50px;
}
#newComment_cancel:hover {
    font-weight: bold;
    box-shadow:  0px 1px 1px 0px grey;

}
#commentList{
    position: absolute;
    margin-top:350px;
    left:670px;
    width:570px;
    list-style-type: none;
    height:320px;
    overflow: scroll;
}
#commentContent{
  width:560px;
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #60848C;
  margin-bottom: 30px;
  margin-left: 5px;
  text-align: left;
  min-height: 30px;
  word-wrap: break-word;
  padding: 10px;
}
h2 { width:100%; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 5px; }
