.Profile {
  text-align: center;
}

#profile_overall {
  overflow-y: scroll;
  width: 550px;
  height: 780px;

  position: fixed;
  left: 50%;
  top: 50%;

  margin-left: -50px;
  margin-top: -390px;
}

#profile_container {
  width: 570px;
  height: 800px;

  position: fixed;
  left: 50%;
  top: 50%;

  margin-left: -60px;
  margin-top: -400px;
}
